h4 {
    color: var(--section-text);
}

.edu {
    margin-bottom: 2rem;
}

p {
    margin: 0.25rem;
}

.details-1 {
    color: var(--accent);
    font-size: 0.8rem;
}

.details-2 {
    color: grey;
    font-size: 0.8rem;
}