<div class = "navbar">
    <div class = "left logo-container">
        <img class="logo" src="assets/images/ethan-logo.png">
    </div>
    <div class = "right">
        <ul>
            <li *ngFor = "let link of navLinks" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a [routerLink]="link.routerLink">{{link.label}}</a>
            </li>
            <li routerLinkActive="active" title = "ethanlphan8@gmail.com">
                <a href="mailto:ethanlphan8@gmail.com">contact me</a>
            </li>
            <li routerLinkActive="active">
                <a href = "assets/Ethan_Phan_Resume.pdf">resume</a>
            </li>
        </ul>
    </div> 
</div>