@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('assets/font/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('assets/font/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}

// Old Color Palette
:root {
    --background-color: #F3F7EC;
    --text: #000000;
    --section-text: #0A6847;
    --accent: #005C78;
    --shadow: rgb(0, 92, 120, 0.5);
}

// New Color Palette
.dark-theme {
    --background-color: #021526;
    --text: #FFFFFF;
    --section-text: #E2E2B6;
    --accent: #6EACDA;
    --shadow: rgb(110, 172, 218, 0.5);
}

body {
    font-family: 'Ubuntu-Regular';
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3rem;
    color: var(--text);
    background-color: var(--background-color);
}

// Setup for enabling responsiveness
@media (max-width: 768px) {
    body {
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 2rem;
    }
    
}

@media (max-width: 480px) {
    body {
        margin-left: 1rem;
        margin-right:1rem;
        margin-top: 1rem;
    }
}