<div @fadeIn>
    <h1 class="name">hi, i'm ethan phan</h1>

    <p>
        i'm an <span class="blue">aspiring software engineer</span> studying computer science at the <span class="blue">university at buffalo</span>.
    </p>

    <p>
        currently, i'm a <span class="blue">research assistant</span> at northeastern university's network science institute and an <span class="blue">undergraduate teaching assistant</span> at the university at buffalo. i've also gained valuable experience as a software engineer intern at m&t bank.
    </p>

    <p>
        as a <span class="blue">technology enthusiast and problem-solver</span>, i'm passionate about finding innovative ways to leverage technology to make a positive impact on people's lives.
    </p>

    <p>
        with my <span class="blue">vietnamese heritage</span>, i'm fluent in both english and vietnamese. collaborating with diverse teams has strengthened my skills in clear communication, active listening, and empathy.
    </p>

    <p>
        beyond computing, my interests include <span class="blue">sports, food, aviation, lego, and solving rubik’s cubes</span>.
    </p>

    <div class="image-container">
        <img class="collage-image" src="assets/images/portfolio-pics-cropped.png" alt="collage of ethan phan's experiences">
    </div>
</div>
