<div>
    <h1 class="name">{{displayed}}<span class="cursor">|</span></h1>

    <div class="intro-content" @fadeIn>
        <p>
            i build apps as a <span class="accent">technical support programmer</span> at digital provisions. i also recently recently graduated with a computer science degree from the <span class="accent">university at buffalo</span>.
        </p>
        
        <p>
            passionate about <span class="accent">technology and problem-solving</span>, i strive to create innovative solutions that positively impact people's lives.
        </p>
        
        <p>
            beyond computing, i enjoy <span class="accent">traveling, sports, food, aviation, lego, and solving rubik's cubes</span>.
        </p>
        
    
        <div class="image-container">
            <img class="collage-image" src="assets/images/portfolio-pics-cropped.png" alt="collage of ethan phan's experiences">
        </div>
    </div>
</div>
