.name {
    font-family: "Source Code Pro";
    color: var(--section-text);
}

p {
    margin-top: 1.5rem;
}

.accent {
    color: var(--accent);
}

.collage-image {
    max-width: 30rem;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  


// Setup for enabling responsiveness
@media (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }
    p {
        font-size: 0.9rem;
        padding-top: 1rem;
    }
    .collage-image {
        max-width: 18rem;
    }
}