.name {
    color: #0A6847;
}

p {
    margin-top: 2rem;
}

.blue {
    color: #005C78;
}

.collage-image {
    max-width: 30rem;
}

.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor {
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  


// Setup for enabling responsiveness
@media (max-width: 480px) {
    h2 {
        font-size: 1.25rem;
    }
    p {
        font-size: 0.9rem;
        padding-top: 1.5rem;
    }
    .collage-image {
        max-width: 18rem;
    }
}